/* import 'Inter' */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.font-inter {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
}
